@font-face {
  font-family: 'Twitter Chirp';
  src: url('../src/assets/fonts/Chirp-Heavy.eot');
  src: url('../src/assets/fonts/Chirp-Heavy.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/fonts/Chirp-Heavy.woff2') format('woff2'),
      url('../src/assets/fonts/Chirp-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Twitter Chirp';
  src: url('../src/assets/fonts/Chirp-Bold.eot'); /* bold.eot*/
  src: url('../src/assets/fonts/Chirp-Bold.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/fonts/Chirp-Bold.woff2') format('woff2'),
      url('../src/assets/fonts/Chirp-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Twitter Chirp';
  src: url('../src/assets/fonts/Chirp-Regular.eot');
  src: url('../src/assets/fonts/Chirp-Regular.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/fonts/Chirp-Regular.woff2') format('woff2'),
      url('../src/assets/fonts/Chirp-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Twitter Chirp';
  src: url('../src/assets/fonts/Chirp-Medium.eot');
  src: url('../src/assets/fonts/Chirp-Medium.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/fonts/Chirp-Medium.woff2') format('woff2'),
      url('../src/assets/fonts/Chirp-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}